# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# testing
/coverage
/lambda-server/coverage

# misc
.DS_Store
*.pem

# local env files
.env*.local
lambda-server/.env
lambda-server/lambda-function/.env

# typescript
*.tsbuildinfo

# docker files
Dockerfile
.dockerignore

# Extra
lambda-server/lambda-function/pack-lambda

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
